@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .heading1{
    @apply font-bold text-2xl my-4;
  }

  .heading2{
    @apply font-semibold text-sm my-2;
  }

  .boxtext{
    @apply text-xs
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
